*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
}

.container .wrapper{
    height: 75vh;
    width: 60vh;
    background-color: aquamarine;
    overflow: hidden;
    margin: 5rem auto;
}

.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
    width: 100%;
    animation: slider 10s ease-in-out infinite alternate;
}

.container #slider-1{
    background-color: gold;
}

.container #slider-2{
    background-color: blueviolet;
}

.container #slider-3{
    background-color: violet;
}

.container .button-holder .button{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}

.container .button-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}

.button:hover{

}

@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-100%);}
    70%{transform: translateX(-100%);}
    80%{transform: translateX(-100%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}